.error {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
        width: 42rem;
        background: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(2px);
        padding: 2rem;
    }
}
