@import '@styles/variables';

.hero {
    background: #fff;
    background-image: url('../../../../../../public/hero.jpg');
    background-position: center;
    background-size: cover;
    border-radius: $primaryRounded;
    height: 30rem;
    position: relative;
    box-shadow: $primaryShadow;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
    }
}
