@import '@styles/variables';

.btn {
    display: flex;
    align-items: center;
    color: $textColor;
    justify-content: center;
    background: $mainColor;
    border-radius: 9999px;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 1rem;
    border: none;
    transition: $mainAnimation;
    box-shadow: $standartShadow;
    width: 56px;
    height: 56px;
    .cartIcon {
        transition: $mainAnimation;
    }
    .closeIcon {
        font-size: 1.5rem;
        transform: rotate(45deg);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: $mainAnimation;
    }
    .addIcon {
        position: absolute;
        font-size: 0.8rem;
        background: $mainColor;
        border-radius: 9999px;
        width: 12px;
        height: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 1rem;
        top: 1rem;
        font-weight: bold;
        transition: $mainAnimation;
    }
    &:hover > .addIcon {
        font-size: 1.5rem;
        font-weight: normal;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        transition: $mainAnimation;
    }
    &:hover > .cartIcon {
        opacity: 0;
    }
}
