@import '@styles/variables';

.btn {
    background: none;
    border: 1px solid #000;
    border-radius: 9999px;
    width: 32px;
    height: 32px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: $primaryTransition;
    &:hover {
        border: 1px solid rgba(0, 0, 0, 0.4);
        color: rgba(0, 0, 0, 0.4);
    }
}
