$primaryShadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
$primaryColor: #f5f5f4;
$primaryTransition: 300ms ease;
$textColor: #27272a;
$textColorWhite: #f5f5f4;
$primaryRounded: 1rem;
$primaryBorder: 1px solid black;
