@import '@styles/variables';

.productWrapper {
    position: relative;
    transition: $primaryTransition;
    &:hover {
        transform: translateY(-10px);
    }
    &:hover > .product > .productFooter h5 {
        transform: translateY(0);
    }
    .product {
        background: #fff;
        width: 100%;
        max-width: 325px;
        height: 380px;
        border-radius: $primaryRounded;
        box-shadow: $primaryShadow;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        img {
            width: 100%;
            height: 100%;
        }

        &:hover > .productFooter {
            height: 200px;
        }
        &:hover > .productFooter > .footerBtn > button {
            bottom: 2.3rem;
            opacity: 1;
        }
        &:hover > .productFooter > .footerBtn > .price {
            bottom: 0.5rem;
            opacity: 1;
        }
        .newFeature {
            background: #ef4444;
            animation: new 3s ease-in infinite;
            padding: 1rem;
            height: 1rem;
            font-weight: bold;
            text-align: center;
            width: 20%;
            border-bottom-right-radius: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: $primaryShadow;
            position: absolute;
            top: 0;
        }
        .productFooter {
            transition: $primaryTransition;
            width: 100%;
            height: 100px;
            background: rgb(0, 0, 0);
            background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 1) 0%,
                rgba(9, 9, 121, 0) 100%,
                rgba(0, 212, 255, 0) 100%
            );
            position: absolute;
            bottom: 0;
            padding: 0 0.5rem;
            .footerBtn {
                .addToCart {
                    color: black;
                }
                button {
                    bottom: -2rem;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    opacity: 0.5;
                }
                .price {
                    transition: $primaryTransition;

                    text-align: center;
                    background: $primaryColor;
                    width: 56px;
                    position: absolute;
                    margin: 0 auto;
                    height: 24px;
                    border-radius: 1rem;
                    right: 0;
                    left: 0;
                    bottom: -2rem;
                    color: #10b981;
                }
            }
            h5 {
                transition: $primaryTransition;
                font-size: 1.5rem;
                transform: translateY(100px);
                color: $textColorWhite;
                text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
            }
        }
    }
    .inCart {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $textColorWhite;
        position: absolute;
        background: #22c55e;
        width: 36px;
        height: 36px;
        border-radius: 9999px;
        z-index: 100;
        top: -0.5rem;
        right: -0.5rem;
        box-shadow: $primaryShadow;
    }
}

@keyframes new {
    0% {
        color: #fef08a;
        font-size: 1.1rem;
    }
    50% {
        color: #fde047;
        font-size: 1.5rem;
    }
    100% {
        color: #fef08a;
        font-size: 1.1rem;
    }
}

@media (max-width: 1450px) {
    .productWrapper {
        .product {
            height: 500px;
        }
    }
}
@media (max-width: 1300px) {
    .productWrapper {
        .product {
            height: 480px;
        }
    }
}
@media (max-width: 1215px) {
    .productWrapper {
        .product {
            height: 420px;
        }
    }
}
@media (max-width: 1100px) {
    .productWrapper {
        &:hover {
            transform: translateY(0);
        }
        .product {
            height: 560px;
            .productFooter {
                height: 200px;
                .footerBtn {
                    button {
                        bottom: 2.3rem;
                        opacity: 1;
                    }
                    .price {
                        bottom: 0.5rem;
                    }
                }
                h5 {
                    transform: translateY(0);
                }
            }
        }
    }
}
@media (max-width: 940px) {
    .productWrapper {
        .product {
            height: 500px;
        }
    }
}
@media (max-width: 940px) {
    .productWrapper {
        .product {
            height: 420px;
        }
    }
}
@media (max-width: 775px) {
    .productWrapper {
        .product {
            height: 880px;
        }
    }
}
@media (max-width: 675px) {
    .productWrapper {
        .product {
            height: 680px;
        }
    }
}
@media (max-width: 600px) {
    .productWrapper {
        .product {
            height: 480px;
        }
    }
}
@media (max-width: 500px) {
    .productWrapper {
        .product {
            height: 420px;
        }
    }
}
@media (max-width: 400px) {
    .productWrapper {
        .product {
            height: 340px;
        }
    }
}
