@import '@styles/variables';

.btn {
    color: $textColorWhite;
    background: #f97316;
    border-radius: $mainRounded;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border: none;
    transition: $mainAnimation;
    box-shadow: $standartShadow;
    &:hover {
        background: #e96d14;
    }
}
