@import '@styles/variables';

.header {
    height: 5rem;
    background: #fafaf9;
    box-shadow: $standartShadow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
    position: fixed;
    z-index: 900;
    right: 0;
    left: 0;
}
