@import '@styles/variables';

.header {
    height: 5rem;
    background: #fafaf9;
    box-shadow: $primaryShadow;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
    position: fixed;
    z-index: 900;
    right: 0;
    left: 0;
}

@media (max-width: 1600px) {
    .header {
        padding: 0 6rem;
    }
}
@media (max-width: 1400px) {
    .header {
        padding: 0 3rem;
    }
}
